@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lobster&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  /* background-image:url(./background_image.jpg) ; */
}

#container{
  max-width: 1240px;
  height: 1036px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 30px;

}
#title{
  font-size: 3.1rem;
  color: white;
  font-family: 'Bowlby One SC', cursive;
}
span{
  color: #ff0000;
}










/* * {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(./background_image.jpg);
}
.baslik {
  text-align: center;
  color: white;
}
span {
  color: red;
}
.thanks {
  text-align: center;
  color: white;
}

#name {
  width: 80%;
  height: 33px;
  margin-block: 10px;
  color: white;
}
.age {
  margin-top: 10px;
}
.email {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .{
    margin-top: 10px;
  } */
/* .content {
  color: white;
}
.check {
  color: white;
}
.gender {
  color: white; */
/* }

.hepsi {
  display: block;
  border: 2px solid;
  background-color: rgb(14, 13, 13);
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  width: 30em; */
/* }
.formum {
  display: block;
  border: 2px solid;
  background-color: rgb(14, 13, 13);
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  width: 30em; */
/* } */
/* input:hover {
  background-color: rgb(248, 20, 20);
} */ */
